
.about {

    padding-top: 2rem;
    margin-bottom: 2rem;

    &__ribbon-box {
        display: flex;
        justify-content: center;
    }

    &__icon {
        text-align: center;
    }
    
    &__content {
        width: 80%;
        padding: 1.8rem 2.5rem;
        margin: 0 auto;
        color: black;
        font-family: 'Roboto', sans-serif;

        &--title {
            @include headingPrimary;
        }

        &--text {
            font-size: 1.6rem;
        }
        

    }

}