.packages {
    height: 90vh;
    background-color: $color-blue;
    // background-image: linear-gradient( 
    //     to right bottom, 
    //     rgba($color-blue, 1), 
    //     rgba($color-blue, .8));
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    font-family: 'Roboto', sans-serif;
    color: white;

    &__title-box {
        padding-top:10rem;
        text-align: center;
    }

    &__title {
        
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .3rem;
    }

    &__images-box {
        display: flex;
        justify-content: center;


    }
    &__card {
        text-align: center;
        margin: 2rem;
    
        &--image {
            mix-blend-mode: luminosity;
            width: 80%;
        }

        &--title {
            font-size: 2rem;
            margin-bottom: .5rem;
            letter-spacing: .1rem;

        }

        &--text {
            font-size: 2rem;
            font-weight: 400;

        }

    }






}