

.btn {
    background-color: $color-blue;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;



    &-primary {
        padding: 1rem 3rem;
        border-radius: 3rem;
        box-shadow: .2rem .2rem 1rem rgba($color-black, .4);




        &-header{
            position: absolute;
            right: 3rem;
            bottom: 3rem;
            z-index: 10;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: .4rem;
        }


    }


}

