
$primary: #C4DBF6;
$color-red: #B23850;
$color-blue: #3B8BEB;
$color-tan: #E7E3D4;
$color-light-blue: #C4DBF6;
$color-gray-blue: #8590AA;

$color-black: black;
$color-gray-background: #F4F5F7;

$title-font: titleFont;